<h1>Test 3DS</h1>
<h3>Test cards</h3>
<%= link_to "Regulatory (3D Secure) test card numbers",
  "https://stripe.com/docs/testing#regulatory-cards",
  target: "_blank"
%>
<br>
<br>

<%= form_for :purchase, url: "/purchase" do |f| %>
  <div class="row mb-3">
    <%= f.label :number, "Number", class: "col-form-label col-sm-2" %>
    <div class="col-sm-4">
      <%= f.text_field :number, required: true, class: "form-control", maxlength: 16 %>
    </div>
  </div>
  <div class="row mb-3">
    <%= f.label :amount, "Amount in cents $", class: "col-form-label col-sm-2" %>
    <div class="col-sm-4">
      <%= f.number_field :amount, required: true, class: "form-control" %>
    </div>
  </div>
  <%= f.submit class: "btn btn-primary" %>
<% end %>
